* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #ECE9E6;
    font-family: 'Roboto Mono', monospace;
}

.menu {
    background-color: #FFFFFF;
    margin: 0 auto;
    width: 650px;
    border: 1px solid #ddd;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

button,
select {
    font-family: inherit;
}

.canvas-container {
    display: flex;
    justify-content: center;
}

canvas {
    background-color: #FFFFFF;
}