* {
    box-sizing: border-box;
}

html {

    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    background-color: #ECE9E6;
    font-family: 'Montserrat', sans-serif;
}

header,
footer {
    background-color: #fc9240;
}

a {
    text-decoration: none;
    font-family: inherit;
    color: ivory;
}

small {
    color: ivory;
    padding: 1rem 1rem;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

button {
    border-radius: 3px;
}

input {
    border-radius: 3px;
}

select {
    border-radius: 3px;
}

.main-header .main-nav li {
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
}

.main-header .main-nav li:first-child {
    border-inline-end: 1px solid #d3d3d3;
}

.logo {
    font-weight: 700;
    color: ivory;
    padding: 1.5rem 2.5rem;
    cursor:pointer;
}

.gallery-container {
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: 150px;
    grid-gap: 20px;
    grid-auto-flow: dense;
    overflow: auto;
}

.img-top{
    cursor:pointer;
    animation-name: shadow-drop-2-center;
    animation-duration: 0.3s;
}


.editor-container {
    padding: 1rem;
    background-color: #e3e3e3;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.canvas-container {
    flex-basis: 1;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(5, minmax(40px, 50px));
    grid-template-rows: repeat(5, minmax(40px, 50px));
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.menu-container .user-input {
    grid-column: 1/span 5;
    grid-row: 1/2;
    border: 0;
}

.menu-container .edit-btn.add-line {
    grid-column: 2/3;
    grid-row: 2/3;
}

.menu-container .edit-btn.switch-lines {
    grid-column: 3/4;
    grid-row: 2/3;
}

.menu-container .edit-btn.delete-line {
    grid-column: 4/5;
    grid-row: 2/3;
}

.menu-container .edit-btn.increase-font {
    grid-column: 1/2;
    grid-row: 3/4;
}

.menu-container .edit-btn.decrease-font {
    grid-column: 2/3;
    grid-row: 3/4;
}

.menu-container .edit-btn.text-left {
    grid-column: 3/4;
    grid-row: 3/4;
}

.menu-container .edit-btn.text-center {
    grid-column: 4/5;
    grid-row: 3/4;
}

.menu-container .edit-btn.text-right {
    grid-column: 5/6;
    grid-row: 3/4;
}

.menu-container .font-editor {
    grid-column: 1/span 3;
    grid-row: 4/5;
    border: 0;
}

.menu-container .edit-btn.stroke-color-container {
    grid-column: 4/5;
    grid-row: 4/5;
}

.menu-container .edit-btn.text-color-container {
    grid-column: 5/6;
    grid-row: 4/5;
}

.menu-container form {
    grid-column: 1/span 5;
    grid-row: 5/6;
}

.edit-btn {
    padding: 0;
    cursor: pointer;
    background-color: white;
    border: 0;
}

.edit-btn img {
    height: 70%;
    width: 70%;
    object-fit: cover;
}

.edit-btn.stroke-color-container {
    position: relative;
}

.edit-btn.text-color-container {
    position: relative;
}

input.color-editor {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

canvas {
    background-color: #FFFFFF;
}

.main-footer {
    flex-direction: column;
}

.operation-btns {
    display: grid;
    grid-template-columns: repeat(5, 3.5rem);
    grid-auto-rows: 3rem;
    grid-auto-flow: dense;
    row-gap: 5px;
}

form {
    grid-column: span 5;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.btn-sharing {
    background: #fc9240;
    border: 1px solid #fc9240;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    user-select: none;
    white-space: nowrap;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 0.6em
}

a.btn-sharing {
    display: flex;
    height: 100%;
    align-items: center;
}

.btn-sharing:hover {
    outline: -webkit-focus-ring-color auto 1px;
}

.btn-sharing.download {
    grid-column: span 3;
}

.link-sharing.download {
    display: none;
}

.main-footer {
    bottom: 0;
    width: 100vw;
    flex-direction: column;
}



/* flex-helpers */
.flex {
    display: flex;
}

.flex.align-center {
    align-items: center;
}

.flex.justify-center {
    justify-content: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}

.clean-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Layout */
.main-layout {
    max-width: 100vw;
    margin: 0 auto;
}


@media(min-width:700px) {

    .gallery-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-auto-rows: 200px;

    }
    .editor-container {
        flex-direction: row;
        gap: 10px;
    }

    .menu-container {
        grid-template-columns: repeat(5, minmax(30px, 40px));
        grid-template-rows: repeat(6, minmax(30px, 40px));
    }

    .btn-sharing {
        font-size: 0.7em;
    }

}

@media(min-width:860px) {

    .gallery-container {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-auto-rows: 250px;

    }

    .editor-container {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .menu-container {
        grid-template-columns: repeat(5, minmax(40px, 50px));
        grid-template-rows: repeat(6, minmax(40px, 50px));
    }

}




 @media(min-width:1080px) {


    .main-layout {
        max-width: 1060px;
        margin: 0 auto;
    }

    .gallery-container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-auto-rows: 300px;

    }

    .operation-btns {
        grid-template-columns: repeat(5, 4rem);
        grid-auto-rows: 3.5rem;
        gap: 10px;
    }

    .btn-sharing {
        font-size: 0.85em;
    }
} 